<div>
	<h3>Rechercher un patient</h3>

	<div class="d-flex flex-row justify-content-between">
		<div class="d-flex flex-row gap-2">
			<form class="d-flex flex-row gap-2" [formGroup]="nameForm">
				<input type="text" class="form-control" formControlName="nom" name="nom">
				<button type="submit" class="btn btn-primary" (click)="onSearch()">Rechercher</button>
			</form>

			<button class="btn btn-primary" (click)="showAll()">tous</button>
		</div>

		<!--<button type="submit" class="btn btn-primary" (click)="onNewPatient()">Ajouter un patient</button>-->
		<app-newpatient (addedPatient)="onAddedPatient($event)"></app-newpatient>
	</div>
</div>

<div class="pt-4">
	<h3>Rechercher patients par date de prescription</h3>

	<div class="d-flex flex-row gap-2">
		<form class="d-flex flex-row gap-2" [formGroup]="prescriptionForm">
			<input type="date" class="form-control" formControlName="date" name="date">
			<button type="submit" class="btn btn-primary" (click)="onSearchPrescription()">Rechercher</button>
		</form>
	</div>
</div>

<ng-container *ngIf="patients">
	<ng-container *ngIf="patients.length > 0 else inconnu">
		<hr/>
		<h3 class="pt-4">Patients trouvé : </h3>

		<table class="table table-striped">
			<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">NSS</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Date de naissance</th>
				<th scope="col">Modifier</th>
				<th scope="col">Supprimer</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let patient of patients">
				<td>{{ patient.id }}</td>
				<td>{{ patient.nss }}</td>
				<td>{{ patient.nom }}</td>
				<td>{{ patient.prenom }}</td>
				<td>{{ patient.dateNaissance|date:"dd-MM-yyyy" }}</td>
				<td>
					<button (click)=onEdit(patient) class="btn btn-primary">
						<span class="fa fa-edit"></span>
					</button>
				</td>
				<td>
					<button (click)=onDelete(patient) class="btn btn-danger">
						<span class="fa fa-trash-o"></span>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</ng-container>

	<ng-template #inconnu>
		<hr/>

		<h3 class="pt-4">Aucun patients</h3>
	</ng-template>

</ng-container>
