<h3>Modifier un patient</h3>

<form [formGroup]="patientFormGroup" *ngIf="patientFormGroup">
	<div class="form-group">
		<label>ID Patient</label>
		<input type="text" class="form-control" formControlName="id" readonly>
	</div>

	<div class="form-group mt-2">
		<label>Nom</label>
		<input type="text" class="form-control" formControlName="nom"
			   [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.nom.errors}">

		<div *ngIf="submitted && patientFormGroup.controls.nom.errors" class="invalid-feedback">
			<div *ngIf="patientFormGroup.controls.nom.errors.required">
				Nom obligatoire
			</div>
		</div>
	</div>

	<div class="form-group mt-2">
		<label>Prénom</label>
		<input type="text" class="form-control" formControlName="prenom"
			   [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.prenom.errors}">

		<div *ngIf="submitted && patientFormGroup.controls.prenom.errors" class="invalid-feedback">
			<div *ngIf="patientFormGroup.controls.prenom.errors.required">
				Prénom obligatoire
			</div>
		</div>
	</div>

	<div class="form-group mt-2">
		<label>NSS</label>
		<input type="text" class="form-control" formControlName="nss"
			   [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.nss.errors}">

		<div *ngIf="submitted && patientFormGroup.controls.nss.errors" class="invalid-feedback">
			<div *ngIf="patientFormGroup.controls.nss.errors.required">
				nss obligatoire
			</div>
		</div>
	</div>

	<div class="form-group mt-2">
		<label>Date de naissance</label>
		<input type="date" class="form-control" formControlName="dateNaissance"
			   [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.dateNaissance.errors}">

		<div *ngIf="submitted && patientFormGroup.controls.dateNaissance.errors"
			 class="invalid-feedback">
			<div *ngIf="patientFormGroup.controls.dateNaissance.errors.required">
				Date de naissance obligatoire
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-success mt-4" (click)="onUpdatePatient()">Mettre a jour</button>
</form>

<hr/>

<div class="d-flex justify-content-between">
	<h3>Prescriptions</h3>
	<app-newprescription [patient]="this.patient.asObservable()"></app-newprescription>
</div>

<ng-container *ngIf="prescriptions">
	<ng-container *ngIf="prescriptions.length>0 else vide">
		<table class="table table-striped">
			<thead>
			<th>ID</th>
			<th>Date</th>
			<th>Medecin</th>
			<th>Montant</th>
			<th>Modifier</th>
			<th>Supprimer</th>
			</thead>
			<tbody>
			<tr *ngFor="let pres of prescriptions">
				<td>{{pres.id}}</td>
				<td>{{pres.datePrescription|date: 'dd-MM-yyyy'}}</td>
				<td>{{pres.medecin.nom}}</td>
				<td>{{pres.cout_total}}€</td>
				<td>
					<button (click)=editPrescription(pres) class="btn btn-primary">
						<span class="fa fa-edit"></span>
					</button>
				</td>
				<td>
					<button (click)=deletePrescription(pres) class="btn btn-danger">
						<span class="fa fa-trash"></span>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</ng-container>
	<ng-template #vide>
		Aucune prescriptions pour ce patient
	</ng-template>
</ng-container>

<span class="pb-4"></span>
